data/criterion/*
data/imdb/*
data/output/*
!data/criterion/.gitkeep
!data/imdb/.gitkeep
!data/output/.gitkeep

*.csv
*.tsv
*.json
*.db
*.sqlite
*.parquet
*.pkl
*.graphml

.DS_Store
__pycache__/
.ipynb_checkpoints/
